<div class="contenedor">
  <div class="text-white min-vh-100 sidebar p-3">
    <div class="d-flex flex-column h-100">
      <div class="mb-4 text-center">
        <h4 class="fw-bold">Documental</h4>
      </div>

      <ul class="nav nav-pills flex-column mb-auto" id="menu">
        <li>
          <a href="../index.html" class="nav-link text-white"
            ><i class="bi bi-house me-2"></i> Inicio</a
          >
        </li>
        <!-- Sección: Administración -->
        <li
          class="nav-item mb-1 text-uppercase fw-bold text-secondary ps-2 small"
        >
          Administración
        </li>

        <li>
          <a href="../views/area.html" class="nav-link text-white"
            ><i class="bi bi-geo-alt me-2"></i> Área</a
          >
        </li>
        <li>
          <a href="../views/asesor.html" class="nav-link text-white"
            ><i class="bi bi-person-badge me-2"></i> Asesor</a
          >
        </li>
        <li>
          <a href="../views/estudiante.html" class="nav-link text-white"
            ><i class="bi bi-mortarboard me-2"></i> Estudiante</a
          >
        </li>
        <li>
          <a href="../views/facultad.html" class="nav-link text-white"
            ><i class="bi bi-bank me-2"></i> Facultad</a
          >
        </li>
        <li>
          <a href="../views/programa_academico.html" class="nav-link text-white"
            ><i class="bi bi-book me-2"></i> Programa Académico</a
          >
        </li>
        <li>
          <a href="../views/sede.html" class="nav-link text-white"
            ><i class="bi bi-building me-2"></i> Sede</a
          >
        </li>

        <!-- Sección: Proyectos -->
        <li
          class="nav-item mt-3 mb-1 text-uppercase fw-bold text-secondary ps-2 small"
        >
          Proyectos
        </li>
        <li>
          <a href="../views/proyecto.html" class="nav-link text-white"
            ><i class="bi bi-folder2-open me-2"></i> Proyecto</a
          >
        </li>
        <li>
          <a href="../views/proyecto_asesor.html" class="nav-link text-white"
            ><i class="bi bi-people me-2"></i> Proyecto - Asesor</a
          >
        </li>
        <li>
          <a
            href="../views/proyecto_estudiante.html"
            class="nav-link text-white"
            ><i class="bi bi-person-lines-fill me-2"></i> Proyecto -
            Estudiante</a
          >
        </li>
        <li>
          <a href="../views/fase_proyecto.html" class="nav-link text-white"
            ><i class="bi bi-layers-half me-2"></i> Fase Proyecto</a
          >
        </li>
        <li>
          <a
            href="../views/historial_documento.html"
            class="nav-link text-white"
            ><i class="bi bi-archive me-2"></i> Historial Documento</a
          >
        </li>
        <li>
          <a href="../views/semillero.html" class="nav-link text-white"
            ><i class="bi bi-diagram-3 me-2"></i> Semillero</a
          >
        </li>
        <li>
          <a href="../views/convocatoria.html" class="nav-link text-white"
            ><i class="bi bi-calendar-event me-2"></i> Convocatoria</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
<style>
  .contenedor {
    height: 90vh;
    scrollbar-width: none;
    border-radius: 15px;
    overflow-y: scroll;
  }
  .sidebar {
    background-color: #2f2f66;
  }

  .sidebar::-webkit-scrollbar {
    display: none;
  }

  .sidebar .nav-link {
    font-size: 0.8rem;
    padding-left: 0.75rem;
  }

  .sidebar li:hover {
    background-color: #3f3f8e;
    border-radius: 10px;
  }
</style>
